[submodule "eosio_utxo"]
	path = eosio_utxo
	url = https://github.com/chrisatanasian/eosio_utxo.git
[submodule "Everipedia"]
	path = Everipedia
	url = https://github.com/EveripediaNetwork/Everipedia.git
